.hands-wrapper{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    margin: 10px;
}

.hand{
    background-color: rgb(40, 199, 66);
    height: 200px;
}








